* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
}

.loader-cursor {
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.page1-img-part1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.page1-img-part2 {
  position: absolute;
  top: 50%;
  left: 13.5%;
  transform: translateY(-50%);
}

.page1-img-part3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page1-img-part3 > h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.page1-img-part4 {
  position: absolute;
  top: 50%;
  right: 13.5%;
  transform: translateY(-50%);
}

.page1-img-part5 {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.page2-top-img > img {
  filter: grayscale(1);
  transition: all ease 0.5s;
}

.page2-top-img > img:hover {
  filter: grayscale(0);
}

.page2-bottom-img > img {
  filter: grayscale(1);
  transition: all ease 0.5s;
}

.page2-bottom-img > img:hover {
  filter: grayscale(0);
}

.page2-img-text {
  top: 70%;
  /* left: 50%; */
  transform: translate(0%, -50%);
  /* white-space: nowrap; */
}

.page2 > h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page3-right {
  position: relative;
}

.page3-right::before {
  content: "";
  z-index: 9;
  background: linear-gradient(to bottom, #1c1c1c, transparent);
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
}

.page3-right::after {
  content: "";
  z-index: 9;
  background: linear-gradient(to bottom, transparent, #1c1c1c);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
}

.rotate-img {
  position: relative;
  /* animation: rotate 50s linear infinite both; */
}

.side-tap-left,
.side-tap-right {
  background-image: url("https://www.cinecasero.uy/img/tape.png");
  background-repeat: repeat-y;
  background-size: contain;
}

.page6-part1-text {
  font-family: website;
  transform: translateX(15%);
}
